<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      hr.purpleline {
        border: 1px solid #007bff;
        border-radius: 3px;
      }
      input.textboxsize {
            width: 350px;
      }
      body.help{
        width: auto;
        height: auto;
        padding-top: 0px;
        background-color: white;
        overflow: auto;
      }
      div.rightpadding{
        padding-left: 10px;
      }
      .mar{
        padding: 20px;
        top: auto;
        left: auto;
        background-color:#e1e3e6;
      }
    </style>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Setting</title>
  </head>
  <body class="help">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand" href="../index.html">BarterHUB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="inventory.html">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile.html">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="settings.html">Settings<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="Search">Search</button>
            </form>
          </li>
        </ul>
        <a class="btn btn-outline-primary my-2 my-sm-0" type="Log In" href="BBLogin.html">Log In</a>
      </div>
    </nav>
    <form>
      <div class="container border border-dark rounded mar ">
        <h1>Settings</h1>
        <hr class="purpleline">
        <br>
        <h3>Change Your Username</h3>
        <div class="form-group rightpadding">
          <label for="new_username">Enter New Username:</label>
          <input type="text"  class="form-control border-primary textboxsize" id="new_username" placeholder="New Username">
        </div>
        <br>
        <h3>Change Your Password</h3>
        <div class="form-group rightpadding colspan="3" ">
          <div class="form-group">
            <label for="old_pws">Enter Old Password:</label>
            <input type="text" class="form-control border-primary textboxsize" id="old_pws" placeholder="Old Password">
          </div>
          <div class="form-group">
            <label for="new_pws">Enter New Password:</label>
            <input type="text" class="form-control border-primary textboxsize" id="new_pws" placeholder="New Password">
          </div>
          <div class="form-group">
            <label for="confirm_pws">ReEnter New Password:</label>
            <input type="text" class="form-control border-primary textboxsize" id="cofirm_pws" placeholder="ReEnter Password">
          </div>
        </div>
        <br>
        <h3>Change Your Location(zip)</h3>
        <div class="form-group rightpadding">
          <label for="new_zip">Enter New Zip:</label>
          <input type="text" class="form-control border-primary textboxsize" id="new_zip" placeholder=" New Zip Code">
        </div>
        <br>
        <button type="button" class="btn btn-primary">Submit Changes</button>
      </div>
    </form>
  </body>
</html>
