<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Setting</title>
  </head>
  <body>
    <h1>Settings</h1>
    <br>
    <br>
    <form >
      <h3>Change Your Username</h3>
      <div class="form-group">
        <label for="new_username">New Username:</label>
        <input type="text" class="form-control" id="new_username" placeholder="Enter New Username">
      </div>
      <br>
      <br>
      <h3>Change Your Password</h3>
      <br>
      <div class="form-group <col span="3">
        <div class="form-group">
          <label for="old_pws">Enter Old Password:</label>
          <input type="text" class="form-control" id="old_pws" placeholder="Old Password">
        </div>
        <div class="form-group">
          <label for="new_pws">Enter New Password:</label>
          <input type="text" class="form-control" id="new_pws" placeholder="New Password">
        </div>
        <div class="form-group">
          <label for="confirm_pws">ReEnter New Password:</label>
          <input type="text" class="form-control" id="cofirm_pws" placeholder="ReEnter Password">
        </div>
      </div>
      <br>
      <br>
      <h3>Change Your Loaction(zip)</h3>
      <br>
      <div class="form-group">
        <label for="new_zip">Change Location:</label>
        <input type="text" class="form-control" id="new_zip" placeholder="Enter New Zip Code">
      </div>
    </form>
  </body>
</html>
